<%
var define = (typeof define === 'undefined') ? '' : define;
var pageData = {
  pageName: 'top',
  title:'トップページ',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  hierarchy: [
    {
      title: "ページ名",
      link: "path/"
    }
  ]
};
%>

<%- include('./inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-main">
    <!-- contents -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="<%= siteurl %>assets/images/top/img-01.jpg" alt="slide image1"></div>
        <div class="swiper-slide"><img src="<%= siteurl %>assets/images/top/img-02.jpg" alt="slide image2"></div>
        <div class="swiper-slide"><img src="<%= siteurl %>assets/images/top/img-03.jpg" alt="slide image3"></div>
        <div class="swiper-slide"><img src="<%= siteurl %>assets/images/top/img-04.jpg" alt="slide image4"></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</main>
<%- include('./inc/_footer', {meta: pageData}) %>
